//-- Colors
$color1: rgba(34, 45, 44, 1);
$color2: rgba(158, 188, 158, 1);
$color3: rgba(67, 89, 85, 1);
$color4: rgba(109, 199, 117, 1);
$color5: rgba(237, 237, 237, 1);
$transparentbg: rgba(67, 89, 85, .75);

//-- Fonts
$raleway: 'Raleway', sans-serif;
$sourcesans: 'Source Sans Pro', sans-serif;

*
	margin: 0
	padding: 0
	font-family: $sourcesans
	font-weight: 400

//-- Header
#header.navbar-fixed-top
	height: 60px !important
	background-color: $color1
	background-image: none
	overflow: visible
	.banner-small
		display: block
		position: absolute
		top: 5px
		left: 18px
		width: 250px
		height: 50px
	.banner
		display: none
	#nav-info
		opacity: 0 !important
	#nav
		position: absolute
		top: -5px !important
		input
			width: 400px
			color: $color2
		ul
			#search-bar
				margin-top: 0 !important
			.search-icon
				margin-top: 0 !important
			li
				a:link,a:visited
					background-color: rgba(0,0,0,0)
				a:hover,a:active
					background-color: #fff
	#carousel
		display: none
#header.normal
	height: 120px
	background-color: $color1
	background-image: none
	.banner
		top: 10px
		left: 40px
		width: 200px
		height: 100px
	#nav-info
		position: absolute
		right: 40px
		top: 70px
		color: #fff
		opacity: 1
		ul
			list-style-type: none
			li
				float: left
				width: 150px
				margin-left: 10px
				text-align: center
	#nav
		position: absolute !important
		top: 10px
		input
			width: 450px
			color: $color2
		ul
			#search-bar
				margin-top: 15px
				.search-icon
					margin-top: 15px
			li
				a:link,a:visited
					background-color: rgba(0,0,0,0)
				a:hover,a:active
					background-color: #fff
	#carousel
		display: none // temporary until separated /w php
	
#header
	height: 600px
	overflow: hidden
	background-color: $color1
	.banner-small
		display: none
	.banner
		display: block
		position: absolute
		top: 10px
		left: 20px
		width: 300px
		height: auto
	
	//-- Nav
	#nav
		position: fixed
		top: 20px
		right: 40px
		transition: all 250ms ease-in-out
		input
			width: 400px
			height: 50px
			text-align: center
			font-size: 24px	
			color: $color2
			border: solid 0 #fff
			border-radius: 10px
			transition: all 0.4s ease
		ul
			list-style-type: none
			li
				float: left
				padding-left: 10px
				a:link,a:visited
					display: block
					text-align: center
					font-size: 24px	
					font-weight: 900
					font-family: $raleway
					text-shadow: 0px 0px 3px $color1
					width: 150px
					height: 50px
					line-height: 50px
					color: $color5
					background-color: $transparentbg
					span
						margin: -2px 0 0 -5px
						.cart-number
							text-shadow: 0 0 0 #fff
							color: $color4
							font-size: 14px
							margin-top: -2px
				a:hover,a:active
					background-color: #fff
					color: $color1
					text-decoration: none
					text-shadow: 0px 0px 0px #000
				.search-icon
					position: absolute
					height: 50px
					width: 50px !important
					font-size: 24px	
					border: solid 0 #fff
					margin-right: 15px
					top: 10px
					text-shadow: 0px 0px 0px #000 !important
					color: $color1 !important
					background-color: transparent !important
				//-- Dropdown Menu
				ul.menu li
					display: none
					float: none
					position: relative
					z-index: 100
					a:link, a:visited
						text-align: left
						text-shadow: 0px 0px 0px #000
						text-indent: 10px
						font-size: 16px	
						font-weight: 300	
						width: 150px
						height: 50px
						line-height: 50px
						background-color: #fff
						color: $color1
						margin: -1px 0 0 -10px
					a:hover, a:active
						color: $color4
			li:hover
				ul.menu li
					display: block
					opacity: 0
					
					@for $i from 1 through 6
						&:nth-child(#{$i})
							animation:
								name: submenu
								duration: 200ms * $i
								timing-function: ease-in-out
								fill-mode: forwards
						
				@keyframes submenu
					0%
						opacity: 0
					100%
						opacity: 1
	//-- Carousel
	#carousel
		width: 100%
		height: 600px
		background-size: cover !important
		font-family: $raleway
		z-index: 0 !important
		transition: all 800ms linear
		.left-arrow, .right-arrow
			font-size: 30px
			line-height: 50px
			width: 50px
			height: 50px
			position: absolute
			display: block
			top: 275px
			a:link,a:visited
				display: block
				width: 50px
				height: 50px
				background-color: $transparentbg
				color: #fff
			a:hover,a:active
				background-color: $color5
				color: $color1
		.left-arrow
			left: 0px
		.right-arrow
			right: 0px
		.tabs
			position: absolute
			top: 550px
			width: 200px
			left: 50%
			margin-left: -100px
			a:link,a:visited
				float: left
				background-color: $color3
				//border: 2px solid $color4
				display: block
				width: 20px
				height: 20px
				//border-radius: 50%
				margin: 5px
			a:hover,a:active
				background-color: $color4
			a.current-tab
				background-color: $color4
		.content
			color: #fff
			text-shadow: 0px 0px 3px $color3
			position: absolute
			font-size: 32px
			//text-align: right
			bottom: 50%
			width: 800px
			left: 50%
			top: 250px
			margin-left: -400px
			display: none
			span
				background-color: $transparentbg
				padding: 4px 10px
				margin: 5px
				font-weight: 200
				font-family: $raleway
			strong
				font-family: $raleway
				font-weight: 900
			i
				font-family: $raleway
				font-weight: 200
//-- Content
#content, #recommended
	font-size: 18px
	h1
		font-family: $raleway
		text-align: center
		border-bottom: 3px solid $color2
		line-height: 0
		padding: 0
		margin: 10px 0 30px 0
		text-transform: uppercase
		letter-spacing: 2px
		color: $color2
		span
			background-color: #fff
			padding: 0 15px
	.content-wrapper-1
		padding: 60px 0 60px 0
	.content-wrapper-2
		padding: 60px 0 60px 0
		background-color: $color5
		h1
			span
				background-color: $color5
	.content-wrapper-3
		margin: 20px 0 20px 0
		.panel-content
			font-size: 16px
			#shop-panel
				width: 100%
				h2
					font-family: $raleway
					font-size: 24px
					font-weight: 700
					background-color: $color3
					color: #fff
					text-align: center
					padding: 5px 0 5px 0
				li
					a
						position: relative
						left: -10px
						color: $color3
					
			.fixed
				position: fixed
				top: 80px
				width: 300px
				transition: all 0.4s ease
			ul
				list-style-type: none
				margin-left: 30px
				font-size: 18px
				li.current-page
					background-color: $color5
					font-weight: bold
					border-radius: 3px
				li.name
					font-weight: bold
		.item
			.img
				border: solid 3px transparent
		.main-content
			.product-list
				span.label
					position: absolute
					width: 244px
					height: 35px
					line-height: 15px
					left: 50%
					margin-left: -122px
					bottom: 20px
					padding: 10px
					border-radius: 0px
					font-weight: 900
					font-size: 20px
					background-color: $color2
			.breadcrumb-item
				text-transform: capitalize
				a:link, a:visited
					color: $color2
					font-weight: bold
			// Cart
			.cart
				padding: 20px 0 20px 0
				font-size: 16px
				border-radius: 3px
				hr
					border-top: solid 1px $color5
				.cart-head
					background-color: $color3
					color: #fff
					font-weight: bold
					font-size: 18px
					margin: 0 0 5px 0
					padding: 5px
					padding-right: 20px
				.cart-img
					img
						width: 75%
						height: auto
				.cart-desc
					padding: 20px 0 0 0
				.cart-items
					padding: 40px 0 0 0
					font-size: 24px
				.cart-price
					padding: 40px 20px 0 0
					font-size: 24px
				.cart-subtotal
					font-size: 28px
				.cart-checkout
					button
						padding: 4px 15px
						font-size: 28px
			.alt
				background-color: $color5
			.no-padding
				padding: 0
			.info-row
				margin: 2px 0 6px 0
	.item
		float: left
		padding: 0 10px 15px 10px
		//opacity: 1							// Invisible when loaded
		//transform: scale(.5)				// Half scale when loaded
		//-webkit-transform: scale(.5)		// Chrome, Safari, Moz
		transition: all 0.4s ease-in-out	// Animation duration & style
		&.visible		// Class makes visible when added
			opacity: 1						// Visible opacity
			transform: scale(1)				// 100% Scale
			-webkit-transform: scale(1)		// Chrome, Safari, Moz
		.img
			img
				border: solid 3px transparent
				max-width: 250px
				width: 100%
				height: auto
				margin: 0 auto
		.info
			.title
				position: relative
				top: 5px
			.price
				font-weight: 700
			.discount
				font-weight: 400
				text-decoration: line-through
				color: #e00
				margin-right: 6px
	.item:hover
		.img
			img
				-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
				-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
				box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
				border: solid 3px $color2
	.more
		width: 250px
		height: 100px
		position: relative
		margin-left: -125px
		left: 50%
		float: left
		background-color: #eee
		ul
			list-style-type: none
			margin: 0 auto
			li
				float: left
				padding: 5px
#content.product-view
	padding: 40px 0 40px 0
	.title
		font-size: 28px
	.price
		font-size: 22px
		.discount
			font-weight: 400
			text-decoration: line-through
			color: #e00
			margin-right: 6px
	select
		width: 150px
		height: 50px
	.product-details-head
		font-weight: 700
		font-size: 18px
		margin: 40px 0 10px 0
	.product-details
		width: 80%
		height:250px
		font-size: 16px
		overflow-y: scroll
		margin: 0 0 20px 0
	button
		width: 250px
		height: 50px
#recommended
	padding: 40px 0 40px 0
//-- Login
#login
	background-color: $color5
	padding: 50px 0
	.login-box
		background-color: #fff
		border: solid 1px $color3
		border-radius: 3px
		width: 450px
		padding: 20px
		position: relative
		left: 50%
		margin-left: -225px
		input
			width: 300px
			height: 50px
			font-size: 24px
			margin-bottom: 2px
			padding: 10px
			border: solid 1px $color3
			border-radius: 3px
			margin: 0 auto
			position: relative
			display: block
		input.submit
			height: 50px
			&:hover
				background-color: $color2
				
//-- Footer
#mailing-list
	background-color: $color3
	padding: 15px 0 15px
	color: $color5
	font-size: 20px
	p
		margin: 5px 0 0 0
		font-weight: 200
	input
		position: relative
		left: 0px
		padding: 5px 10px
		color: #000
		border: solid 0 #fff
		border-radius: 2px
	.email
		width: 250px
	.join
		width: 100px
		&:hover
			background-color: $color2
#footer
	background-color: $color1
	padding: 20px 0 20px
	h4
		font-weight: 200
		color: #fff
	ul
		li
			color: $color5
			a:link, a:visited
				color: $color5
			a:hover, a:active
				color: $color1
				background-color: $color5
#copyright
	padding: 10px 0 10px 0
	ul
		list-style-type: none
		li
			float: left
			padding: 5px
			a:link, a:visited
				color: #555
			a:hover
				color: $color2
				text-decoration: none
	.copyright
		color: #555
			