//-- Colors
$color1: rgba(34, 45, 44, 1);
$color2: rgba(158, 188, 158, 1);
$color3: rgba(67, 89, 85, 1);
$color4: rgba(109, 199, 117, 1);
$color5: rgba(237, 237, 237, 1);
$transparentbg: rgba(67, 89, 85, .2);

//-- Fonts
$raleway: 'Raleway', sans-serif;
$sourcesans: 'Source Sans Pro', sans-serif;

*
	margin: 0
	padding: 0
	font-family: $sourcesans
	font-weight: 400

//-- Header
#header.navbar-fixed-top
	height: 60px !important
	background-color: $color1
	background-image: none
	overflow: visible
	.banner
		top: 5px !important
		width: 250px
		height: 50px !important
	#nav-info
		opacity: 0 !important
	#nav
		position: absolute
		top: -5px !important
		input
			width: 550px
			color: $color2
		ul
			#search-bar
				margin-top: 0 !important
			.search-icon
				margin-top: 0 !important
			li
				a:link,a:visited
					background-color: rgba(0,0,0,0)
				a:hover,a:active
					background-color: #fff
	#carousel
		display: none // temporary until separated /w php
#header.normal
	height: 120px
	background-color: $color1
	background-image: none
	transition: all 0.4s ease
	.banner
		top: 10px
		width: 250px
		height: 100px
	#nav-info
		position: absolute
		right: 40px
		top: 70px
		color: #fff
		opacity: 1
		ul
			list-style-type: none
			li
				float: left
				width: 150px
				margin-left: 10px
				text-align: center
	#nav
		position: absolute !important
		top: 10px
		transition: all 0.4s ease-in-out
		input
			width: 550px
			color: $color2
		ul
			#search-bar
				margin-top: 15px
				.search-icon
					margin-top: 15px
			li
				a:link,a:visited
					background-color: rgba(0,0,0,0)
				a:hover,a:active
					background-color: #fff
	#carousel
		display: none // temporary until separated /w php
	
#header
	height: 600px
	overflow: hidden
	background-color: $color1
	background: url(../img/carousel/image1.jpeg) center center
	background-size: cover
	.banner
		position: absolute
		top: 20px
		left: 40px
	
	//-- Nav
	#nav
		position: fixed
		top: 20px
		right: 40px
		transition: all 0.4s ease
		input
			width: 400px
			height: 50px
			text-align: center
			font-size: 24px	
			color: $color2
			border: solid 0 #fff
			border-radius: 10px
			transition: all 0.4s ease
		ul
			list-style-type: none
			li
				float: left
				padding-left: 10px
				a:link,a:visited
					display: block
					text-align: center
					font-size: 24px	
					font-weight: 900
					font-family: $raleway
					text-shadow: 0px 0px 3px $color1
					width: 150px
					height: 50px
					line-height: 50px
					color: $color5
					background-color: $transparentbg
					span
						margin: -2px 0 0 -5px
						.cart-number
							text-shadow: 0 0 0 #fff
							color: $color4
							font-size: 14px
							margin-top: -2px
				a:hover,a:active
					background-color: #fff
					color: $color1
					text-decoration: none
					text-shadow: 0px 0px 0px #000
				.search-icon
					position: absolute
					height: 50px
					width: 50px !important
					font-size: 24px	
					border: solid 0 #fff
					margin-right: 15px
					top: 10px
					text-shadow: 0px 0px 0px #000 !important
					color: $color1 !important
					background-color: transparent !important
				//-- Dropdown Menu
				ul.menu li
					display: none
					float: none
					position: relative
					z-index: 2
					a:link, a:visited
						text-align: left
						text-shadow: 0px 0px 0px #000
						text-indent: 25px
						font-size: 16px	
						font-weight: 300	
						width: 150px
						height: 50px
						line-height: 50px
						background-color: #fff
						color: $color1
						margin: -1px 0 0 -10px
					a:hover, a:active
						color: $color4
			li:hover
				ul.menu li
					display: block
					opacity: 0
					
					@for $i from 1 through 4
						&:nth-child(#{$i})
							animation:
								name: submenu
								duration: 200ms * $i
								timing-function: ease-in-out
								fill-mode: forwards
						
				@keyframes submenu
					0%
						opacity: 0
					100%
						opacity: 1
	//-- Carousel
	#carousel
		width: 100%
		font-family: $raleway
		.left-arrow, .right-arrow
			font-size: 30px
			line-height: 50px
			width: 50px
			height: 50px
			position: absolute
			display: block
			top: 275px
			a:link,a:visited
				display: block
				width: 50px
				height: 50px
				background-color: $transparentbg
				color: #fff
			a:hover,a:active
				background-color: $color5
				color: $color1
		.left-arrow
			left: 0px
		.right-arrow
			right: 0px
		.tabs
			position: absolute
			top: 550px
			width: 100%
			a:link,a:visited
				color: $color5
				padding: 0 2px
			a:hover,a:active
				color: $color4
		.content
			color: #fff
			text-shadow: 0px 0px 3px $color1
			position: relative
			font-size: 32px
			text-align: right
			bottom: 50%
			width: 800px
			left: 50%
			top: 250px
			margin-left: -400px
			span
				background-color: $transparentbg
				padding: 4px 10px
				margin: 5px
				font-weight: 200
				font-family: $raleway
			strong
				font-family: $raleway
				font-weight: 900
			i
				font-family: $raleway
				font-weight: 200
//-- Content
#content, #recommended
	h1
		font-family: $raleway
		text-align: center
		border-bottom: 3px solid $color2
		line-height: 0
		padding: 0
		margin: 10px 0 30px 0
		text-transform: uppercase
		letter-spacing: 2px
		color: $color2
		span
			background-color: #fff
			padding: 0 15px
	.content-wrapper-1
		padding: 60px 0 60px 0
	.content-wrapper-2
		padding: 60px 0 60px 0
		background-color: $color5
		h1
			span
				background-color: $color5
	.content-wrapper-3
		margin: 20px 0 20px 0
		.sidenav
			#accordion
				width: 220px
			.fixed
				position: fixed
				top: 80px
				width: 220px
				transition: all 0.4s ease
			.panel-heading
				margin: 0
				padding: 0
				h4
					font-family: $raleway
					font-size: 30px
					font-weight: 700
					background-color: $color3
					color: #fff
					text-align: center
					padding: 5px 0 5px 0
			ul
				list-style-type: none
				margin-left: 20px
				font-size: 18px
		.item
			.img
				border: solid 3px transparent
	.item
		float: left
		padding: 0 10px 15px 10px
		opacity: 0							// Invisible when loaded
		transform: scale(.5)				// Half scale when loaded
		-webkit-transform: scale(.5)		// Chrome, Safari, Moz
		transition: all 0.4s ease-in-out	// Animation duration & style
		&.visible		// Class makes visible when added
			opacity: 1						// Visible opacity
			transform: scale(1)				// 100% Scale
			-webkit-transform: scale(1)		// Chrome, Safari, Moz
		.img
			margin: 0 0 5px 0
			border: solid 3px transparent
		.info
			.title
			.price
				font-weight: 700
			.discount
				font-weight: 400
				text-decoration: line-through
				color: #e00
				margin-right: 6px
	.item:hover
		.img
			border: solid 3px $color2
	.more
		width: 250px
		height: 100px
		position: relative
		margin-left: -125px
		left: 50%
		float: left
		background-color: #eee
		ul
			list-style-type: none
			margin: 0 auto
			li
				float: left
				padding: 5px
#content.product-view
	padding: 40px 0 40px 0
	.title
		font-size: 28px
	.price
		font-size: 22px
		.discount
			font-weight: 400
			text-decoration: line-through
			color: #e00
			margin-right: 6px
	select
		width: 150px
		height: 50px
	.product-details-head
		font-weight: 700
		font-size: 18px
		margin: 40px 0 10px 0
	.product-details
		width: 80%
		height:250px
		font-size: 16px
		overflow-y: scroll
		margin: 0 0 20px 0
	button
		width: 250px
		height: 50px
#recommended
	padding: 40px 0 40px 0
				
//-- Footer
#mailing-list
	background-color: $color3
	padding: 20px 0 20px
	color: $color5
	input
		padding: 5px 10px
		color: #000
#footer
	background-color: $color1
	padding: 20px 0 20px
	h4
		font-weight: 200
		color: #fff
	ul
		li
			color: $color5
			a:link, a:visited
				color: $color5
			a:hover, a:active
				color: $color1
				background-color: $color5
#copyright
	padding: 10px 0 0 0
	.copyright
		color: $color1
			